.nav-bar{
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    z-index: 99;

    &__container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link{
        text-decoration: none;
    }

    &__logo{
        height: 48px;
    }

    &__text{
        font-size: 1rem;
        font-weight: 500;
    }

    &__menu-icon{
        width: 25px;
        margin-left: 18px;
        cursor: pointer;
    }
    &__right-content-container{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }
}